
body{
	font-family: 'Hind', sans-serif;
}

.name {
	text-align: center;
	text-decoration-color: violet;
font-family: 'Amaranth', sans-serif;
}
.he{
	text-align: center;
}


.about{
	font-family: 'Amaranth', sans-serif;
	background-color:#7bdff2;
	padding-top: 1vh;
	height: 80vh;
    
}
#main{
	background-color:#b2f7ef;
	height: 50vh;
	padding-top: 0vh

}
.edu{
	
	background-color:#eff7f6;
	padding-top: 1vh;
	height:50vh;
	}
.contact{
	background-color:#f2b5d4;
padding-top:1vh;
height:50vh;
}
.hobb
{
	background-color:#f7d6e0;
	height:80vh;
	padding-top: 1vh;
}